* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  padding: 64px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.column-66 {
  float: left;
  width: 66.666666%;
  padding: 20px;
}
.column-33 {
  float: left;
  width: 33.333333%;
  padding: 20px;
}
.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}
@media screen and (max-width:1000px){
  .column-66,.column-33{
    width: 100%;
    text-align: center;
  }
  img{
    margin:auto;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: powderblue;
}
#myBtn:hover {
  background-color: #555;
}

/*  SLIDEBAR MENU  */
.sidebar{
  height: 100%;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cceeff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
